{% extends "base.html" %}
{% load i18n %}

{% block appendheader %}
  <h1>{% trans "Where are you from?" %}</h1>
{% endblock %}

{% block content %}
  <p>
    {% blocktrans %}
      Please select your <strong>Identity Provider</strong> from the following list:
    {% endblocktrans %}
  </p>
    <table id="idp_names" class="display" width="50%">
      <thead style="display:none;">
        <tr>
            <th>IdP Name</th>
        </tr>
    </thead>
    <tbody>
    {% for url, name in available_idps %}
      <tr>
        <td><a href="{% url 'djangosaml2.views.login' %}?idp={{ url }}{% if came_from %}&next={{ came_from }}{% endif %}">{{ name }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  <script>
  $(document).ready( function () {
    $('#idp_names').DataTable({
      paging: false,
      scrollY: 400
    });
    $('.navbar-search pull-right').hide();
  } );
  </script>
{% endblock %}
